.Menu__navigace {
  width: 30rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  margin: auto;
  margin-top: 50px;
}

.Menu__navigace--domov,
.Menu__navigace--o__projekte,
.Menu__navigace--o__nas {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Menu__navigace--domov:hover,
.Menu__navigace--o__projekte:hover,
.Menu__navigace--o__nas:hover {
  transform: translateY(-5px);
}

.btn__nav {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.btn--domov,
.btn--o_nas,
.btn--o__projekte {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3rem;
}

.btn--o__projekte {
  background-image: url('./img/icons8-recycle-64.png');
}

.btn--o_nas {
  background-image: url('./img/icons8-best-friend-64.png');
}

.btn--domov {
  background-image: url('./img/icons8-home-page-100.png');
}
