.Menu__navigace {
  position: absolute;
  right: 80px;
  top: 80px;
  height: 35rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* justify-content: space-between; */
  font-size: 10px;
}

.btn__nav {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  /*background-color: #37b18f99;*/
}
.btn--projekt {
  background-image: url('./img/icons8-recycle-64.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3rem;
}
.btn--my {
  background-image: url('./img/icons8-best-friend-64.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3rem;
  /*background-size: cover;*/
}
.btn--domov {
  background-image: url('./img/icons8-home-page-100.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}
