@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
  background-color: #96f0f799;
}

.main {
  text-align: center;
  padding: 3rem;
  border-radius: 10px;
}

.main {
  display: flex;
}

.main__obsah {
  margin: 2rem;
}
.main__obsah > p {
  font-size: 1.5rem;
  line-height: 1.6;
}
