.domov {
  text-align: center;
  padding: 3rem;
  margin: auto;
}

.domov__hlavicka {
  text-align: center;
  padding: 3rem;
  font-size: 1.2rem;
  line-height: 1.6;
}

.domov__text {
  font-size: 1.5rem;
  line-height: 1.6;
}
