@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
  background-color: #96f0f799;
  display: flex;
  justify-content: center;
}

.menu__navigace {
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;
  margin: auto;
  padding: 2rem;
  margin-left: 200px;
  margin-right: 200px;
}

.menu__navigace--domov,
.menu__navigace--o__projekte,
.menu__navigace--o__nas {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menu__navigace--domov:hover,
.menu__navigace--o__projekte:hover,
.menu__navigace--o__nas:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.btn__nav {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.btn--domov,
.btn--o_nas,
.btn--o__projekte {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 4rem;
  cursor: pointer;
}

.btn--o__projekte {
  background-image: url('./img/icons8-recycle-64.png');
}

.btn--o_nas {
  background-image: url('./img/icons8-best-friend-64.png');
}

.btn--domov {
  background-image: url('./img/icons8-home-page-100.png');
}
