@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
  background-color: #96f0f799;
}
